{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a href="{{ path('Gestor_reservas_coworking') }}">Inicio</a></li>
            <li><a href="{{ path('app_room_index') }}">Salas</a></li>
            <li><a href="{{ path('app_member_index') }}">Socios</a></li>
            <li><a href="{{ path('app_booking_index') }}">Reservas</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Fecha de registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.surname }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.registeredAt ? member.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_member_show', {'id': member.id}) }}">Mostrar</a>
                    <a href="{{ path('app_member_edit', {'id': member.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_member_new') }}">Crear nuevo socio</a>
{% endblock %}
