{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Indice de Reservas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de reserva</th>
                <th>Asientos</th>
                <th>Nombre del cliente</th>
                <th>Email del cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.bookingDate ? booking.bookingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.seats }}</td>
                <td>{{ booking.customerName }}</td>
                <td>{{ booking.customerEmail }}</td>
                <td>
                    <a href="{{ path('app_booking_show', {'id': booking.id}) }}">Mostrar</a>
                    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_booking_new') }}">Crear nueva reserva</a>
{% endblock %}
