{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a href="{{ path('Gestor_reservas_coworking') }}">Inicio</a></li>
            <li><a href="{{ path('app_room_index') }}">Salas</a></li>
            <li><a href="{{ path('app_member_index') }}">Socios</a></li>
            <li><a href="{{ path('app_booking_index') }}">Reservas</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1>Salas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sala</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Inicio</th>
                <th>Final</th>
                <th>Creada</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.room.name }}</td>
                <td>{{ booking.member.name }} {{ booking.member.surname }}</td>
                <td>{{ booking.member.email }}</td>
                <td>{{ booking.startAt ? booking.startAt|date('d/m/Y H:i') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('d/m/Y H:i') : '' }}</td>
                <td>{{ booking.createdAt ? booking.createdAt|date('d/m/Y H:i') : '' }}</td>
                <td>{{ booking.status }}</td>
                <td>
                    <a href="{{ path('app_booking_show', {'id': booking.id}) }}">Mostrar</a>
                    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_booking_new') }}">Crear Nueva</a>
{% endblock %}
