{% extends 'base.html.twig' %}

{% block title %}Loan active{% endblock %}
{% block nav %}{% endblock %}

{% block body %}
    <h1>Loan active</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Surname</th>
                <th>LoanDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in activeLoans %}
            <tr>
                <td>{{ loan.book.title }}</td>
                <td>{{ loan.member.name }}</td>
                <td>{{ loan.member.surname }}</td>
                <td>{{ loan.loanDate ? loan.loanDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_loan_show', {'id': loan.id}) }}">show</a>
                    <form method="post" action="{{ path('app_loan_return', {'id': loan.id}) }}" onsubmit="return confirm('Are you sure you want to mark this loan as returned?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('return' ~ loan.id) }}">
                        <button class="btn">Marcar como devuelto</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
