{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Sala</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nombre</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>3D</th>
                <td>{{ room.has3D ? 'No' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% for booking in bookings %}
            <li>
                {{ booking.customerName }} - {{ booking.bookingDate|date('Y-m-d H:i') }} - {{ booking.seats }} - {{ booking.movie.title }}
            </li>
        {% else %}
            <li>No hay reservas</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_room_index') }}">Volver a la lista</a>

    <a href="{{ path('app_room_edit', {'id': room.id}) }}">Editar</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
